/*=== google fonts ===*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*=== Basic css ===*/
html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

ol,
ul {
    list-style: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {	
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

@font-face {
    font-family: 'Gilroy';
    src: url('../webfontsGilroy-Medium.ttf');
    font-weight: 500;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}

.svg-results {
    border: 1px solid #000; /* Border style */
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-left: 370px;
    margin-top: 50px;
    width: 750px; /* Set width for the container */
    height: 500px; /* Set height for the container */
    overflow: auto;
}

/*=== Header area start ===*/

.header-area {
    padding: 21px 0;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.20);
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item ul {
    display: flex;
    align-items: center;
}

.header-item-inner2 ul li a {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
    margin: 0 40px;
}

.header-item ul li a:hover {
    color: #E5322D;
}

.header-item-inner3 ul li a {
    color: #121212;
    font-size: 18px;
    font-weight: 500;
}

.header-item-inner3 ul li:last-of-type a {
    font-weight: 600;
    color: #fff;
    width: 137px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22px;
    border-radius: 60px;
    background: #E5322D;
}

.header-item-inner3 ul li:last-of-type a:hover {
    opacity: .8;
}

.header-item-inner4 {
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.header-item-inner4 span {
    width: 30px;
    height: 3px;
    display: block;
    background: #000;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.header-item-inner4 span:nth-of-type(2) {
    margin: 7px 0;
}

.header-item-inner4:hover span {
    background: #E5322D; 
}

/*=== offcanvas start ===*/

#canvas {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    object-fit: cover;
}

.offcanvas-start {
    width: 300px;
    border: none;
    background: #fff; 
}

.offcanvas-body {
    padding: 30px 20px;
}

.side-menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.side-menu-inner .close {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.side-menu-inner .close span {
    width: 25px;
    height: 3px;
    display: block;
    background: #000;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.side-menu-inner .close:hover span {
    background: #E5322D;
}

.side-menu-inner .close span:nth-of-type(1) {
    transform: rotate(45deg);
    margin-top: 13px;
}

.side-menu-inner .close span:nth-of-type(2) {
    transform: rotate(-45deg);
    margin-top: -3px;
}

.side-menu-inner2 ul {
    flex-direction: column;
    align-items: start;
}

.side-menu-inner2 ul li a {
    margin: 0 0 15px;
}

.side-menu-inner2 .header-item-inner3 ul li:last-of-type a {
    margin-left: 0;
}

/*=== upload area start ===*/

.upload-area {
    padding: 110px 0;
}

.upload-item {
    padding: 38px 30px 34px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.20);
    max-width: 678px;
    margin: 0 auto;
}

.upload-item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.upload-item-inner h2 {
    color: #121212;
    font-size: 22px;
    font-weight: 500;
}

.upload-item-inner img {
    cursor: pointer;
}

.upload-item-inner2 {
    padding: 20px 0;
    text-align: center;
}

.upload-item-inner6 input[type="file"] {
    display: none;
}

#file-drag {
    cursor: pointer;
    width: 100%;
}

.upload-item-inner2 img {
    display: block;
    margin: 0 auto 20px;
}

.upload-item-inner2 h2 {
    font-family: 'Gilroy';
    color: #121212;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.upload-item-inner2 h2 span {
    color: #E5322D; 
}

.upload-item-inner2 p {
    color: #121212;
    font-size: 18px;
    font-weight: 400;
}

#file-progress {
    display: none;
    width: 100%;
    margin-top: -20px;
}

progress {
    height: 0;
}

.upload-item-inner3 {
    padding: 20px 6px 0;
}

.upload-item-inner4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.upload-item-inner4 p {
    color: #121212;
    font-size: 22px;
    font-weight: 500;
}

.js-increment-group {
    display: flex;
    align-items: center;
    margin: 0;
}

.control--button {
    width: 15px;
    height: auto;
    border: none;
    background: transparent!important;
}

.control--button:hover {
    background: transparent!important;
}

.increment-group__field {
    margin: 0 7px;
}

.increment-group__field input {
    color: #121212;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 32px;
    height: 27px;
    display: flex;
    padding: 0;
    align-items: center;
    border: none;
    border-radius: 5px;
    background: #F1F1F1;
}

.upload-item-inner5 {
    padding: 34px 0 78px;
    margin-top: 7px;
    border-top: 1px dashed #999999;
}

.range-slider {
    width: 100%;
    position: relative;
}

.range-slider > input {
    opacity: 0;
    width: 100%;
    position: relative;
    z-index: 5;
}

.range-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    z-index: 100;
    position: relative;
    width: 50px;
    height: 30px;
    -webkit-border-radius: 10px;
}

.range-slider > span.slider-container {
    width: 100%;
}

.range-slider > span.slider-container > span.bar {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 21px;
    overflow: hidden;
    background: rgba(229, 50, 45, 0.20);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.range-slider > span.slider-container > span.bar > span {
    background: #E5322D;
    display: inline-block;
    height: 21px;
    width: 0%;
}

.range-slider > span.slider-container > span.bar-btn {
    display: inline-block;
    position: absolute;
    min-width: 35px;
    padding: 0 7px;
    height: 33px;
    color: #121212;
    text-align: center;
    font-size: 12.419px;
    font-weight: 500;
    background: #fff;
    transform: translateX(-17px);
    bottom: -40px;
    background: url(../images/upload-09.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 4px;
    z-index: 999;
}

.range-slider > span.slider-container > span.bar-btn > span:after {
    content: "%";
}

.upload-item-inner6 {
    max-width: 518px;
    margin: 0 auto;
}

.upload-item-inner6 ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -13px;
    justify-content: center;
    align-items: center;
    width: 100%
}

.upload-item-inner6 ul li {
    width: 50%;
    padding: 0 13px;

}

.upload-item-inner6 ul li a,
.upload-item-inner6 ul li button {
    color: #FFF;
    font-size: 21.679px;
    font-weight: 600;
    width: 100%;
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 72.263px;
    background: #E5322D;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    margin-top: 10%;
    /* margin-left: 10%; */
    transition: background-color 0.3s ease-in-out;
}

.upload-item-inner6 ul li button:hover{
    background: #E97451;
    
  }

.form-upload{
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.choose-file{
    color: #FFF;
    font-size: 21.679px;
    font-weight: 600;
    width: 100%;
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 72.263px;
    background: #E5322D;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    margin-top: 2%;
    /* margin-left: 10%; */
    transition: background-color 0.3s ease-in-out;
}

.polygon-btn{
    color: #FFF;
    font-size: 21.679px;
    font-weight: 600;
    width: 100%;
    height: 65px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 72.263px;
    background: #E5322D;
    margin-bottom: 16px;
    cursor: pointer;
    border: none;
    margin-top: 2%;
    margin-left: 5%;
    transition: background-color 0.3s ease-in-out;
}

.choose-file:hover{
    background: #E97451;
}

.polygon-btn:hover{
    background: #E97451;
}


#img-button{
    margin: 0px 1rem;
    
}



#file-upload input {
    display: none;
  }

.upload-item-inner6 ul li a img {
    margin-right: 9px;
}

.upload-item-inner6 ul li button {
    margin-bottom: 10px;
}

.upload-item-inner6 ul li button input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.upload-item-inner6 ul li a:hover {
    opacity: .8;
}

#messages ul {
    margin: 16px 0;
}

#messages ul li {
    width: 100%;
}

/*=== footer area start ===*/

.footer-area {
    padding: 32px 0;
    background: #E5322D;
}

.footer-item p {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.table{
    align-self: center;
    margin-left: 50px;
}
